.header{
    background-color: rgb(64, 9, 114);
    color: white;
    height: 9vh;
    text-align: center;
    padding-top: 1%;

}
#lest-side{
    margin-left: 3%;
    margin-top: 3%;
    border-right: 2px solid #000;
}
#right-side{
    margin-left: 3%;
    margin-top: 3%;
}
#edit_profile{
    background-color: whitesmoke;
    box-shadow: 2pxx 2px 2px 2px ;
    padding: 15px;
    border-radius: 15px;
}
#card{
    border: 2px solid black;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 15px;
    margin-left: 25px;
    padding-top: 10px;
    padding-left: 25px;
}
#card:hover{
    background-color:burlywood;
}